.body{
	background-color: #f2f2f2;
	margin:0;
	padding:0;	
	
}
.menudiv{
	width: 100%;
	height: 70px;
	background-color: #ffffff;
	margin: 0px;
	float: left;	
}
.logo{
	float: left;
	margin-left: 200px;
	padding: 5px;
}
.menu{
	float: left;
	margin: 20px;
}
.menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	min-height: 46px;
	background-color: #f2f2f2;
}
.menu ul li{
	float: left;
	border-left: 1px solid #bfbfbf;
	position: relative;
	
}
.menu ul li:first-child{
	border-left: 0px solid;
}
.menu ul li:last-child{
	border-right: 0px solid;
}
.menu ul li a{
	display: block;
	color: #3385ff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.menu ul li a:hover{
	background-color: #bfbfbf;
}
.sicon{
	float:right;
	margin-right: 220px;
	margin-top: 30px;
}
/* dropdown css*/
.menu ul li ul{
	display: none;
	position: absolute; left: -99999px;
}
.menu ul li:hover ul{
	display: block;
	left: 0px;
	width: 112px;
	
}
.menu ul li ul{
	background-color: #bfbfbf;
}
.menu ul li ul li{
	float: none;
	background-color: #f2f2f2;
	border-left: 0px;
	border-top: 1px solid #bfbfbf;
}

.menu ul li ul li a{
	
}
.menu ul li ul li a:hover{
	
}

	/* slider*/
#banner{
	width:70%;
	margin-left: 200px;
}

.imgmenu{
	width: 70%;
	height: 68px;
	background-color: #3385ff;
	margin-left: 200px;
	margin-top: 5px;
}
.whiteicon{
	float: left;
	margin-left: 100px;
	padding: 10px;
}
.middlediv{
	width: 70%;
	margin-left: 200px;	
	margin-top: 5px;
	
}
.image1{
	float: left;
	margin-left: 0;
}
.image2{
	float: left;
	margin-left: 12px;
}
.login{
	float: left;
	background-color: #3385ff;
	width: 320px;
	height: 200px;
	margin-left: 12px;
	text-align: center;
    color: #ffffff;
}
.email_box{
	text-align: center;
	border-radius: 5px;
	margin: 10px;
	width: 200px;
	height: 25px;
}
.button{
	background-color: #4CAF50;
	border: none;
    border-radius: 5px;
    color: white;
    padding:10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	width: 200px;
	
}
.lastdiv{
	width: 70%;
	margin-left: 200px;
	
	
	
}
.image3{
	float: left;
	margin-left: 0px;
	margin-top: 5px;
	
}
.image4{
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}
.footer{
	width: 70%;
	height: 50px;
	margin-left: 200px;
	background-color: #3385ff;
	float: left;
}
.footermenu{
	float: left;
	width: 30%;
	height: 10px;
	margin-top: 20px;
	margin-left: 15px;
	
}
.footermenu ul{
	list-style: none;
	margin: 0;
	padding: 0;	
	
	
}
.footer ul li{
	float: left;
	padding: 5px;
	margin: 0px;
	border-left: 1px solid #80bfff;
}
.footer ul li a{
	display: block;
	text-decoration: none;
	color: #cccccc;
}
.footer ul li a:hover{
	color: #ffffff;
}
.footer ul li:first-child{
	border-left: 0px solid;
}
.copyright{
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	color: #cccccc;
}